.fa-solid {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px;
    color: gray;
    text-align: center;
}

.fa-solid:hover {
    color: #bb2d3b;
    border-color: #bb2d3b;
}

td:nth-child(2),
th:nth-child(2) {
    display: none;
}